.card{
    width: 120px;
    height: 180px;
    background-color: var(--medium);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    margin: 30px;
    position: relative;
    cursor: pointer;
    animation: popUp 0.5s;
}

.card.rotate{
    rotate: 360deg;
}

.card::after{
    content: '';
    position: absolute;
    border-radius: 20px;
    width: 87px;
    height: 134px;
    border: 7px solid var(--text);
    transition: 0.5s;
}

.card .icon::before{
    font-family: 'cartitas';
    content: "";
    font-size: 4em;
    color: var(--text);
}

/* Cross */

.card .icon#cross::before{
    content: "\e904";
}

/* Star */

.card .icon#star::before{
    font-size: 5em;
    content: "\e903";
}

/* Waves */

.card .icon#wave::before{
    content: "\e902";
}

/* Square */

.card .icon#square::before{
    content: "\e901";
}

/* Apply the animation to the card */
.card.shake{
    animation: shake 0.4s;
}