/* When the screen round the 400 width create a media query for screen and that size */

@media screen and (max-width: 430px) {
    .footer {
        flex-direction: column;
        height: 20vh;
    }

    .footer .advice{
        font-size: 1.5em;
    }

    .footer .social{
        padding-right: 250px;
    }

    .footer .social .social-icon span::before{
        top: -40px;
        font-size: 1.5em;
    }

    .footer .social .social-icon .personal::before{
        top:-60px;
        font-size: 2.5em;
    }

    main{
        width: 100vw;
    }

    .hand{
        width: 100%;
        flex-wrap: wrap;
    }

    .card{
        width: 100px;
        height: 150px;
        margin: 20px;
    }

    .board{
        width: 100%;
    }

    .card .icon::before{
        font-size: 3.5em;
    }

    .card .icon#star::before{
        font-size: 4.3em;
    }

    .card::after{
        width: 80px;
        height: 120px;
        border-width: 5px;
    }

    .set{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .set::after{
        left: 45%;
        top: -5%;
        font-size: 1.5em;
    }


    .symbol{
        width: 100px;
        height: 100px;
        margin: 20px;
        font-size: 1em;
    }
}