/* Import Oleo Script */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
/* Import roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* Font face for cartitas */
@font-face{
  font-family: 'cartitas';
  src:  url('../fonts/cartitas.eot?jjjdj7');
  src:  url('../fonts/cartitas.eot?jjjdj7#iefix') format('embedded-opentype'),
    url('../fonts/cartitas.ttf?jjjdj7') format('truetype'),
    url('../fonts/cartitas.woff?jjjdj7') format('woff'),
    url('../fonts/cartitas.svg?jjjdj7#cartitas') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* Generate a root */
:root {
  --text:#053030;
  --text-light:#015958;
  --contour: #008F8C;
  --medium: #0CABA8;
  --light: #0FC2C0;
}


*{
  font-family: "Oleo Script", sans-serif;
  margin: 0;
  padding: 0;
}

*::before, *::after{
  font-family: 'cartitas';
  transition: .5s ease all;
}

body{
  background-color: var(--text);
}


/* Create an animation of shake */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(-15deg); }
}

/* Create a pop up animation */
@keyframes popUp{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}

/* Create an animation of fade in */

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}