.set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.set::after{
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 2em;
    content: "";
    position: absolute;
    color: white;
    left: 100%;
    text-transform: uppercase;
}

.set#hit0::after{
    content: "0 Hits";
}

.set#hit1::after{
    content: "1 Hit";
}

.set#hit2::after{
    content: "2 Hits";
}

.set#hit3::after{
    content: "3 Hits";
}

.set#hit4::after{
    content: "4 Hits";
}

.set#victory::after{
    color: green;
    content: "Victory!";
}

.set#defeat::after{
    color: red;
    content: "Defeat!";
}