  *::before,
  *::after,
  * {
    box-sizing: border-box;
  }
  
  .switch {
    transition: all 0.25s ease-in-out;
    width: 7rem;
    height: 3rem;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: -2px -2px 0.1rem 0 rgba(0, 0, 0, 0.3),
      2px 2px 0.5px 0 rgba(255, 255, 255, 0.3);
  }
  
  input[type="checkbox"] {
    transition: all 0.25s ease-in-out;
    appearance: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    cursor: pointer;
  }
  
  .cursor {
    transition: all 0.25s ease-in-out;
    z-index: 900;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fbbf24;
    display: block;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    content: "";
    position: absolute;
    box-shadow: inset 0.15rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.35),
      inset -0.15rem -0.1rem 0.1rem 0 rgba(255, 255, 255, 0.5),
      0 0 0 3rem rgba(255, 255, 255, 0.1),
      0 0 0 2rem rgba(255, 255, 255, 0.1),
      0 0 0 1rem rgba(255, 255, 255, 0.1);
  }
  
  .moon-crater {
    transition: all 0.25s ease-in-out;
    box-shadow: inset 0 0 0.5px 0.5px rgba(0, 0, 0, 0.25);
    display: block;
    position: absolute;
    background-color: #fbbf24;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
  }
  
  .moon-crater-1 {
    transition: all 0.25s ease-in-out;
    left: 8px;
    top: 20px;
  }
  
  .moon-crater-2 {
    transition: all 0.25s ease-in-out;
    left: 16px;
    top: 8px;
    width: 0.6rem;
    height: 0.6rem;
  }
  
  .moon-crater-3 {
    transition: all 0.25s ease-in-out;
    left: 26px;
    top: 23px;
    width: 0.5rem;
    height: 0.5rem;
  }
  
  input[type="checkbox"]:checked ~ .cursor {
    transition: all 0.25s ease-in-out;
    background-color: #94a3b8;
    left: 4.25rem;
  }
  
  input[type="checkbox"]:checked ~ .cursor .moon-crater {
    transition: all 0.25s ease-in-out;
    transform: scale(1);
    background-color: rgba(100, 116, 139, 0.6);
  }
  
  .clouds-shadow .cloud-particle {
    transition: all 0.25s ease-in-out;
    transform: translateY(-0.5rem);
    z-index: 200;
    background-color: #94a3b8;
  }
  
  .clouds .cloud-particle {
    transition: all 0.25s ease-in-out;
    z-index: 300;
    background-color: #cbd5e1;
  }
  
  .cloud-particle {
    transition: all 0.25s ease-in-out;
    position: absolute;
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
  }
  
  .cloud-particle-1 {
    transition: all 0.25s ease-in-out;
    bottom: -1.5rem;
    left: 1rem;
  }
  
  .cloud-particle-2 {
    transition: all 0.25s ease-in-out;
    bottom: -10rem;
    left: 1.5rem;
  }
  
  .cloud-particle-3 {
    transition: all 0.25s ease-in-out;
    bottom: -1rem;
    left: 2.5rem;
  }
  
  .cloud-particle-4 {
    transition: all 0.25s ease-in-out;
    width: 0.5rem;
    height: 0.5rem;
    bottom: -0.5rem;
    left: 3rem;
  }
  
  .cloud-particle-5 {
    transition: all 0.25s ease-in-out;
    bottom: 0rem;
    left: 3.5rem;
  }
  
  .cloud-particle-6 {
    transition: all 0.25s ease-in-out;
    bottom: -0.5rem;
    left: 4.5rem;
  }
  
  .cloud-particle-7 {
    transition: all 0.25s ease-in-out;
    bottom: -1rem;
    left: 5.5rem;
  }
  
  input[type="checkbox"]:checked ~ .clouds .cloud-particle,
  input[type="checkbox"]:checked ~ .clouds-shadow .cloud-particle {
    transform: translateY(2rem);
    transition: all 0.25s ease-in-out;
  }
  
  .stars .star {
    z-index: 250;
    transition: all 0.25s ease-in-out;
  }
  
  .star {
    position: absolute;
    transition: all 0.25s ease-in-out;
    display: block;
    color: #cbd5e1;
    font-size: 0.5rem;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.75);
  }
  
  .star-1 {
    transition: all 0.25s ease-in-out;
    left: 3rem;
    top: 1rem;
  }
  
  .star-2 {
    transition: all 0.25s ease-in-out;
    left: 2rem;
    top: 2rem;
  }
  
  .star-3 {
    transition: all 0.25s ease-in-out;
    left: 1rem;
    top: 1.2rem;
  }
  
  .star-4 {
    transition: all 0.25s ease-in-out;
    left: 3.6rem;
    top: 1.6rem;
    font-size: 0.4em;
    color: #64748b;
  }
  
  .star-5 {
    transition: all 0.25s ease-in-out;
    left: 1.6rem;
    top: 1rem;
    font-size: 0.4em;
    color: #64748b;
  }
  
  .star-6 {
    transition: all 0.25s ease-in-out;
    left: 2.3rem;
    top: 0.3rem;
    font-size: 0.4em;
    color: #64748b;
  }
  
  .star-7 {
    transition: all 0.25s ease-in-out;
    left: 1.2rem;
    top: 2rem;
    font-size: 0.4em;
    color: #64748b;
  }
  
  input[type="checkbox"] ~ .stars .star {
    transition: all 0.25s ease-in-out;
    transform: translateY(3rem);
  }
  
  input[type="checkbox"]:checked ~ .stars .star {
    transition: all 0.25s ease-in-out;
    transform: translateY(0);
  }
  
  .background {
    transition: all 0.25s ease-in-out;
    z-index: 100;
    background-color: #3b82f6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3.5rem;
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.75),
      inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
  }
  
  input[type="checkbox"]:checked ~ .background {
    transition: all 0.25s ease-in-out;
    background-color: #0f172a;
  }
  