.symbol{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    margin: 30px;
    position: relative;
}

.symbol:before{
    font-family: 'cartitas';
    content: "";
    font-size: 7em;
    color: var(--light);
}

/* When the id is question change the content */
.symbol#question:before{
    content: "\e908";
}

.symbol#cross::before{
    content: "\e904";
}

.symbol#star::before{
    font-size: 8em;
    content: "\e903";
}

.symbol#wave::before{
    content: "\e902";
}

.symbol#square::before{
    content: "\e901";
}

.symbol{
    animation: popUp 1.1s;
}
