.warning{
    position: relative;
    margin: 20px;
    font-size: 2em;
    color: red;
    border: none;
    opacity: 0;
    transition: .5s ease all;
}

/* Create an animation of fade in */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in{
    opacity: 1;
    animation: fadeIn .5s;
}