/* Import roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* Define the root */
:root {
  /* Create a variable for main and secondary color */
  --main-color: #d6eadf;
  --secondary-color: #809bce;
  --hover: darkred;
  --white: #d6eadf;
  --filter:invert(68%) sepia(32%) saturate(596%) hue-rotate(186deg) brightness(85%) contrast(87%);
  --filter2: invert(9%) sepia(93%) saturate(3341%) hue-rotate(353deg) brightness(106%) contrast(116%);
  --card-background: #ffee93;
  --card-lines: #ffc09f;
}

* {
  outline: none;
  transition: .5s;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

body.dark {
  --main-color: black;
  --secondary-color: #809bce;
  --hover: darkred;
  --white: rgb(33, 33, 33);
  --card-background: darkgrey;
  --card-lines:rgb(70, 70, 70);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}